<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<th:block th:if="${not isValid}">
  <h2 th:text="${message}">Nội dung lỗi</h2>
</th:block>

<th:block th:if="${isValid}">
  <h2>Đổi mật khẩu</h2>

  <label>Mật khẩu mới</label>
  <input type="password" id="password">  <br>

  <label>Nhập lại mật khẩu</label>
  <input type="password" id="confirm-password">  <br>

  <button id="btn">Đổi mật khẩu</button>
</th:block>
</body>
</html>